@font-face {
  src: url("../assets/fonts/Quicksand.ttf");
  font-family: "Quicksand";
}

* {
  font-family: "Quicksand";
}

.mainCont {
  background: url(../assets/images/footer-waves.png) no-repeat;
  background-position: bottom;
  background-size: 100% 15%;
  height: 100%;
}

.homeSection {
  justify-content: center;
  display: flex;
}

.homeSlidesSection {
  justify-content: center;
  display: flex;
  padding: 20px 20px 0px 20px;
  width: 100%;
}

.homeSlide {
  border-radius: 20px;
  overflow: hidden;
}

.homeGridButton {
  border: 5px solid var(--ion-color-primary);
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  padding-right: 7px;
  padding-left: 7px;
  aspect-ratio: 1;
  color: black;
  font-size: 90%;
  display: flex;
  margin: 10px;
  gap: 10px;
}

.homeGridButton:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.homeGridImage {
  width: 50%;
}
